.box {
  width: 1920px;
  background-color: cornflowerblue;
  height: 1080px;
}

.naglowek {
  height: 300px;
  width: 1920px;
  background-color: aqua;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.lewa {
  width: 960px;
  height: 380px;
  background-color: green;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
}

.prawa {
  height: 380px;
  width: 960px;
  align-items: center;
  background-color: yellow;
  display: flex;
  float: left;
  justify-content: center;
}

.stopka {
  align-items: center;
  width: 1920px;
  justify-content: center;
  background-color: blue;
  display: flex;
  float: left;
  height: 400px;
}